*{
        margin: 0;
        padding: 0;
        font-family: 'Roboto',sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(./food/stock-photo-all-fast-food-collection-set-isolated-on-white-background-fried-chicken-fries-pizza-sandwich-2353214487.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

h1{
    color: red;
    text-align: center;
}

h3{
    color: aliceblue;
}

h2{
    color: red;
    text-align: center;
}
h4{
    background-image: url(./food/menu.jpg);
    color: aqua ;
}